body, html{
    height: 100%;
}

.bg {
    background-image: url("https://images.pexels.com/photos/34079448/pexels-photo-34079448.jpeg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#header {
    font-family: 'Courier New', Courier, monospace;
    display: block;
    justify-content: center;
    background-color: rgb(252, 252, 252);
    

}

.alltasks {
    display: inline-block;
    justify-content: center;
}

#title{
   color:blueviolet; 
   display: flex;
   justify-content: center;
}

#todotasks{
    color:rgb(26, 5, 211);
    display: flex;
    justify-content: center;

}

#maincont *{
    display: flex;
    
    
}

#tasks li{
    width: 300px;
    height: 20px;
    border: 2px groove rgb(252, 177, 27);
    border-radius: 5px;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: aqua;
    background-color: bisque;
}

li > .trashicon{
    margin-left: 2px;
}

#ctasks{
    text-decoration: line-through;
    color: dimgray;
}

.trashicon {
  color: #e53e3e;         
  font-size: 18px;        
  cursor: pointer;
         
 
}

#newtaskbtn{
    cursor: pointer;
    background-color: beige;
    color: rgb(231, 64, 64);

}

#tasks{
    color: black;
}


    
    




ul.ctasks {
    list-style-type: georgian;
    background: lightgreen;
    padding: 15px;
}

ul.ctasks li {
    background: azure;
    color: blueviolet;
    margin: 5px;
}
